NEXT_PUBLIC_API_URL=http://localhost:3333
NEXT_PUBLIC_BOT_INVITE_URL=https://discord.com/oauth2/authorize?client_id=YOUR_DISCORD_CLIENT_ID&permissions=8&scope=bot
INTERNAL_API_KEY=must_match_api_internal_key
